<!DOCTYPE html>
<html>
<head>
    <!-- bootstrap载入文件 -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../jQuery/jquery-3.1.1.js" type="text/javascript" ></script>
    <script src="../bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <!-- 到此为止 -->
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class=" container">
        <div class="row" style="padding-top:15px;padding-bottom:15px;">
            <div class="juzhong" style="width:1000px;">
                <div style="width:100px;height:100px;display:inline-block;float:left;">
                    <a href="HomePage.html"><img style="width:100px;height:100px;" src="../images/97869673498924905.jpg" /></a>
                </div>
                <div style="float:left;display:inline-block;">
                    <h1>&nbsp;&nbsp;&nbsp;Uni-Sharing —— 南京高校学习资源共享平台<br /><small>&nbsp;&nbsp;&nbsp;U考研</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="juzhong" style="width:1000px;">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header ">
                        <a class="navbar-brand" href="HomePage.html">Uni-Sharing</a>
                    </div>
                    <ul class="nav navbar-nav h4">
                        <li class="active"><a href="#">U考研</a></li>
                        <li><a href="uSpeech.html">U讲座</a></li>
                        <li><a href="uBook.html">U书籍</a></li>
                        <li class="disabled"><a href="uSociety.html">U社区</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 pull-right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        热议话题
                    </div>
                    <div class="panel-body">
                        <ol id="rank">
                            <li ><a href="#">热门话题1</a><br /></li>
                            <li ><a href="#">热门话题2</a><br /></li>
                            <li ><a href="#">热门话题3</a><br /></li>
                            <li ><a href="#">热门话题4</a><br /></li>
                            <li ><a href="#">热门话题5</a><br /></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 pull-left">

            </div>
        </div>
    </div>
</body>
</html>